<!DOCTYPE html>
<html>
  <head>
    <title>TacoBell</title>
    <meta name="description" content="Use Taco Bell Reviews to rate and review Taco Bell Items
    that you have tried.">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <style>
      body {
       background-color: #E8E8E8;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
